/* max-width: 576px//////llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
@media screen and (max-width: 576px) {
    html {
        padding: 0 1rem;
        font-size: 90%;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 80%;
        background-color: gray;
        transition: .5s ease-out;
    }

    nav .link {
        height: auto;
        width: 100%;
        padding: 1.25rem 2rem;
        border-radius: 0;
    }

    .open-sidebar-btn,
    .close-sidebar-btn {
        display: block;
    }

    .close-sidebar-btn {
        padding: 2rem;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~#overly {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

/* min-width:577px and max-width:767px.......llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
@media screen and (min-width: 577px) and (max-width: 767px) {
    html {
        padding: 0 3rem;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 80%;
        background-color: gray;
        transition: .5s ease-out;
    }

    nav .link {
        height: auto;
        width: 100%;
        padding: 1.25rem 2rem;
        border-radius: 0;
    }

    .open-sidebar-btn,
    .close-sidebar-btn {
        display: block;
    }

    .close-sidebar-btn {
        padding: 2rem;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~#overly {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

/* min-width:768px and max-width:992px....llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        padding: 0 2rem;
    }

    header nav {
        font-size: 90%;
    }
}

/* min-width:992px and max-width:1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    html {
        padding: 0 6rem;
    }

    header nav {
        font-size: 100%;
    }
}