@media screen and (max-width: 320px) {
    body {
        font-size: 90%;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 80%;
        background-color: gray;
        transition: .5s ease-out;
    }

    header {
        height: 115vh;
        padding: 0 1.5rem;
    }

    nav .link {
        height: auto;
        width: 100%;
        padding: 1.25rem 2rem;
        border-radius: 0;
    }

    .open-sidebar-btn,
    .close-sidebar-btn {
        display: block;
    }

    .close-sidebar-btn {
        padding: 2rem;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~#overly {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    /* hero section............llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
    .hero-section {
        flex-direction: column;
        height: 100vh;
    }

    /* hero section left */
    .section-left {
        width: 100%;
        height: 50%;
        /* border: 1px solisd red; */
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-title span {
        font-size: 5rem;
    }

    .hero-des {
        margin: 1rem 0;
        font-size: .8rem;
    }

    .btn-box {
        gap: .5rem;
    }

    .btn-width {
        width: 60%;
    }

    .primary-btn {
        font-size: 1rem;
        padding: 0.5rem;
    }

    /* hero section right */
    .section-right {
        width: 100%;
        height: 50%;
        justify-content: center;
    }

    .hero-image {
        height: 22rem;
    }

    .fifty-plus-box,
    .thirty-plus-box {
        zoom: 55%;
    }

}

/* max-width: 576px//////llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
@media screen and (min-width: 321px) and (max-width: 576px) {
    body {
        font-size: 90%;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 80%;
        background-color: gray;
        transition: .5s ease-out;
    }

    header {
        height: 150vh;
        padding: 0 1.5rem;
    }

    nav .link {
        height: auto;
        width: 100%;
        padding: 1.25rem 2rem;
        border-radius: 0;
    }

    .open-sidebar-btn,
    .close-sidebar-btn {
        display: block;
    }

    .close-sidebar-btn {
        padding: 2rem;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~#overly {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    /* hero section............llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
    .hero-section {
        flex-direction: column;
        height: 135vh;
    }

    /* hero section left */
    .section-left {
        width: 100%;
        height: 50%;
    }

    .hero-title {
        font-size: 380%;
    }

    .hero-title span {
        font-size: 6rem;
    }

    .hero-des {
        margin: 1rem 0;
    }

    .btn-box {
        gap: 1rem;
    }

    .btn-width {
        width: 50%;
    }

    .primary-btn {
        font-size: 1rem;
        padding: .5rem;
    }

    /* hero section right */
    .section-right {
        width: 100%;
        height: 50%;
        justify-content: center;
    }

    .hero-image {
        height: 30rem;
    }

    .fifty-plus-box,
    .thirty-plus-box {
        zoom: 70%;
    }

}

/* min-width:577px and max-width:767px.......llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
@media screen and (min-width: 577px) and (max-width: 767px) {
    header {
        height: 150vh;
        padding: 0 1.5rem;
    }

    nav .link {
        padding: .7rem 1rem;
    }

    /* hero section............llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
    .hero-section {
        flex-direction: column;
        height: 135vh;
    }

    /* hero section left */
    .section-left {
        width: 100%;
        height: 50%;
    }

    .hero-title {
        font-size: 4.5rem;
    }

    .hero-title span {
        font-size: 10rem;
    }

    .hero-des {
        margin: 1rem 0;
    }


    /* hero section right */
    .section-right {
        width: 100%;
        height: 50%;
        justify-content: center;
    }

    .hero-image {
        height: 30rem;
    }

    .fifty-plus-box,
    .thirty-plus-box {
        zoom: 90%;
    }
}

/* min-width:768px and max-width:992px....llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
@media screen and (min-width: 768px) and (max-width: 992px) {
    header {
        padding: 0 1.5rem;
    }

    .hero-title {
        font-size: 4rem;
    }

    .hero-title span {
        font-size: 8rem;
    }

    .hero-des {
        margin: 1rem 0;
    }

    .btn-box {
        gap: 1rem;
    }

    .primary-btn {
        padding: .9rem;
    }

    .btn-width {
        width: 50%;
    }

    /* hero section right */
    .section-right {
        justify-content: center;
        align-items: center;
    }

    .hero-image {
        height: 33rem;
    }

    .fifty-plus-box,
    .thirty-plus-box {
        zoom: 85%;
    }

    .thirty-plus-box {
        top: 68%;
        right: 55%;
    }
}

/* min-width:992px and max-width:1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    header {
        padding: 0 1.5rem;
    }

    .hero-title {
        line-height: 110%;
    }

    .hero-des {
        margin: 2rem 0;
    }

    .hero-image {
        height: 40rem;
    }

    .fifty-plus-box,
    .thirty-plus-box {
        zoom: 90%;
    }

    .thirty-plus-box {
        top: 68%;
        right: 55%;
    }
}